<footer>
    <ul>
      <li><a href="https://www.linkedin.com/in/magarciaa92/" target="_blank"><i class="fa-brands fa-linkedin" ></i></a></li>
      <li><a href="https://github.com/AlexDDks" target="_blank"><i class="fa-brands fa-github"></i></a></li>

      <li>
        <a href="mailto:mgarciaa92@gmail.com?subject=Contact%20Request&body=Hello%20Alejandro%2C%0D%0A%0D%0AI%20am%20interested%20in%20your%20services%20and%20would%20like%20to%20get%20in%20touch%20with%20you.%0D%0A%0D%0AThank%20you%2C%0D%0A%5BYour%20Name%5D" target="_blank">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>

      <li><a href="https://www.instagram.com/alexddks/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>    
  </footer>

  <article class="copyrigthItem"><p>Alejandro Garcia &copy; 2024</p> </div>