<header>
    <ul>
      <li class="liName"><a href="/">Alejandro Garcia</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="https://github.com/AlexDDks/portfolio" target="_blank">Source <i class="fa-brands fa-github"></i></a></li>
      <li><a href="/whatsNext">What's next?</a></li>
      <li><a href="/files/cv.docx" download><i class="fa-solid fa-download"></i> full CV</a></li>
    </ul>
  </header>