<header>
    <ul>
      <li class="liName"><a href="/">Alejandro Garcia</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/source">Source <i class="fa-brands fa-github"></i></a></li>
    </ul>
  </header>