<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/contact.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <title>Contact | Alejandro Garcia</title>
    <script src="/js/fadeUp.js"></script>

</head>
<body class="fade-up">
    
<%- include('./partials/header') %>

<%- include('./partials/modal') %>

<section class="contactSection">
    <h1>Contact Me</h1>

    <p class="contactIntro">
        I'm <span class="spanSup">open</span> to <span class="spanSup">contributing</span> to your projects or supporting your programming needs. Whether it's <span class="spanSup">joining</span> your team or collaborating on solutions, feel free to <span class="spanSup">contact</span> me below or through my contact details.
    </p>

    <div class="contactContainer">
        <div class="contactForm">
            <h2>Contact Form</h2>
            <form id="contactForm">
                <div class="formGroup">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="formGroup">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="formGroup">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="submitButton">Send Message</button>
            </form>
        </div>

        <div class="contactDetails">
            <h2>Contact Details</h2>
            <ul>
                <li><a href="mailto:alejandro.garcia@example.com"><i class="fa-solid fa-envelope"></i> Email: magarciaa92@gmail.com</a></li>
                <li><a href="tel:+5261303917"><i class="fa-solid fa-phone"></i> Phone: <span class="spanInf">+52</span> 55 6130 3917</a></li>
                <li><i class="fa-solid fa-map-marker-alt"></i> Location: Mexico City, <span class="spanInf">Mexico</span></li>
            </ul>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>

</body>
</html>
