<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index2.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <script src="/js/scrollListener.js"></script>
    <title>A. Garcia</title>
</head>
<body>

<main class="mainSection">
    <header>
        <nav>
           <div class="divTop">
                <h1>Alejandro Garcia</h1>
                <h2>M.Sc. in Electronic Engineering</h2>
                <p>"Tech for Good: With an open mind and constant learning, we navigate the digital era for meaningful impact."</p>
           </div>

            <ul class="ulProjects">
                <a href="/#article1"><li>About</li></a>
                <a href="/#article2"><li>Experience</li></a>
                <a href="/#article3"><li>Projects</li></a>
                <a href="/#article3"><li>Present</li></a>
            </ul>
        </nav>

        <section>
            <ul class="ulMedia">
                <a href="/#"><li>About</li></a>
                <a href="/#"><li>Experience</li></a>
                <a href="/#"><li>Projects</li></a>
                <a href="/#"><li>Present</li></a>
            </ul>
        </section>
    </header>

    <article class="contentArticle" id="article1">
        <div class="contentAbout">
            <p>
                It was only in 2021 when the world of web development and the technologies that keep us connected came into my life. I was amazed by how the world connects despite the vast distances. That's where I discovered my vocation.
            </p>

            <p class="pDown">
                Multiple front and backend programming courses have allowed me to work as an IT teacher for a year now, applying my knowledge in computer science, electronics, and research to the training of tomorrow's engineers.
            </p>

            <p class="pDown2 ">
                I am thrilled by how technology is growing faster than we can keep up with. From my trench, I am adding my small grain of sand. 
            </p>

            <div class="cara">
                <img src="/img/cara.png" alt="">
            </div>
            
        </div>  

      

        <section class="containerProjects" id="article2">
            <!-- <div class="divScrollGif">
                <img src="/img/scroll.gif" alt="">
            </div> -->
            <% for (const website of websites) { %>
            <article class="articleWebsite">
            <div class="contentDivWebsite">
                <h1><%= website.title %></h1>
                <a href="/website/<%= website.id %>">
                    <div class="contentWork">
                        <img src="/img/<%= website.image %>" alt="">
    
                    <div class="contentMouseOver">
                        <ul>
                            <% for (let i = 0; i < website.tecnologies.length; i++) { %>
                                <li><%= website.tecnologies[i] %></li>
                            <% } %>
                        </ul>
                    </div>
                </div></a> 
            </div>
        </article>
        <% } %>
        </section>  
    
    
    </article>

  

</main>

   


    



   <!-- <article class="contentArticle bottomInfo" id="article3">
        <div class="contact">
            <h1>Contact</h1>
            <div class="divInfo">
                <p>M.Sc. Manuel Alejandro Garcia Andrade</p>
            </div>
    
            <div class="divInfo">
                <a href="mailto:magarciaa92@gmail.com?subject=Contact&body=Hi%20Alex%2C%20I%20have%20seen%20your%20portfolio%2C%20and%20I'm%20interested%20in%20contacting%20you" target="_blank"><p>magarciaa92@gmail.com</p></a>
            </div> 
            
            <div class="divInfo">
                <p>Mexico City, Mexico</p>
            </div>
            
            <div class="divIcons">
                <a href="https://www.linkedin.com/in/magarciaa92" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.github.com/AlexDDks" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </article>  -->
</body>
</html>