<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <script src="/js/scrollListener.js"></script>
    <title>A. Garcia</title>
</head>
<body>

    <section class="mainSection">
    <header>
        <nav>
            <ul>
                <a href="/#article1"><li>About</li></a>
                <a href="/#article2"><li>Work</li></a>
                <a href="/#article3"><li>Contact</li></a>
                <a href="/"><li>Past</li></a>
            </ul>
        </nav>
    </header>

    <article class="contentArticle" id="article1">

        <div class="contentDiv">
            <h1 class="h1About">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi vitae sint facilis adipisci voluptatem asperiores, laudantium, sit magni qui suscipit recusandae quos esse doloribus a error aliquam vel itaque porro ipsa quae odit nihil dolorem quasi? Aliquam, eos? Commodi voluptatem alias deleniti omnis incidunt</p>
            <div class="cara">
                <img src="/img/cara.png" alt="">
            </div>
        </div>
       
    
    </article>

    </section>

    <div class="logo">
        <img src="/img/logo.png" alt="logo">
    </div>

    

    <section class="containerScroll">
        <div class="divScrollGif">
            <img src="/img/scroll.gif" alt="">
        </div>
        <% for (const website of websites) { %>
        <article class="contentArticle bottom" id="article2">
        <div class="contentDiv">
            <h1><%= website.title %></h1>
            <a href="/website/<%= website.id %>">
                <div class="contentWork">
                    <img src="/img/<%= website.image %>" alt="">

                <div class="contentMouseOver">
                    <ul>
                        
                        <% for (let i = 0; i < website.tecnologies.length; i++) { %>
                            <li><%= website.tecnologies[i] %></li>
                        <% } %>
                    </ul>
                </div>
            </div></a> 
        </div>

    </article>
    <% } %>
    </section> 





    <article class="contentArticle bottomInfo" id="article3">
        <div class="contact">
            <h1>Contact</h1>
            <div class="divInfo">
                <p>M.Sc. Manuel Alejandro Garcia Andrade</p>
            </div>
    
            <div class="divInfo">
                <a href="mailto:magarciaa92@gmail.com?subject=Contact&body=Hi%20Alex%2C%20I%20have%20seen%20your%20portfolio%2C%20and%20I'm%20interested%20in%20contacting%20you" target="_blank"><p>magarciaa92@gmail.com</p></a>
            </div> 
            
            <div class="divInfo">
                <p>Mexico City, Mexico</p>
            </div>
            
            <div class="divIcons">
                <a href="https://www.linkedin.com/in/magarciaa92" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.github.com/AlexDDks" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </article>
</body>
</html>