<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/whatsNext.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>
    <title>What's Next? - Alejandro Garcia</title>
    <script src="/js/fadeUp.js"></script>

</head>
<body class="fade-up">
    <%- include('./partials/header') %>

    <section class="intro">
        <h2 class="h2Next">What's Next?</h2>
        <p>Welcome to my journey of continuous learning and growth. Here you'll find the technologies I'm currently mastering, my skill set, the courses I've completed, and what I'm studying right now. Let's dive in!</p>
    </section>

    <hr>

    <section class="technologies">
        <h2>Technologies I'm Excelling At</h2>
        <ul class="techList">
            <li>JavaScript (ES6+)</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>PHP</li>
            <li>Laravel</li>
            <li>MySQL</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Generative AI</li>
            <li>Git</li>
            <li>GitHub</li>
            <li>Scrum</li>
            
        </ul>
    </section>

    <hr>

    <section class="skills">
        <h2>My Skills</h2>
        <div class="skillContainer">
            <div class="skill">
                <h3>Full Stack Development</h3>
                <p>Proficient in building complete web applications with both frontend and backend technologies.</p>
            </div>
            <div class="skill">
                <h3>Project Management</h3>
                <p>Experienced in managing projects using Scrum and Agile methodologies.</p>
            </div>
            <div class="skill">
                <h3>Database Management</h3>
                <p>Skilled in designing and managing relational databases.</p>
            </div>
            <div class="skill">
                <h3>UI/UX Design</h3>
                <p>Adept at creating user-friendly and visually appealing interfaces.</p>
            </div>
        </div>
    </section>

    <hr class="hrBottom">

    <section class="courses">
        <h2>Completed Courses</h2>
        <ul class="courseList">
            <li>Full Stack Web Development - <span class="liInf">Digital House</span></li>
            <li>Figma Essential/Advanced - <span class="liInf">LinkedIn Learning</span></li>
            <li>Introduction to HTML, CSS, & JavaScript - <span class="liInf">IBM</span></li>
            <li>Generative AI: Introduction and Applications - <span class="liInf">IBM</span></li>
            <li>Introduction to Artificial Intelligence (AI) - <span class="liInf">IBM</span></li>
            <li>Introduction to Software Engineering - <span class="liInf">IBM</span></li>
        </ul>
    </section>

    <hr class="hrBottom">

    <section class="studying">
        <h2>Currently Studying</h2>
        <p>I am currently expanding my knowledge in computing and AI. My goal is to integrate these technologies into my future projects to create more robust and intelligent solutions.</p>
        <ul class="studyList">
            <li>Algorithms and Data Structures - <span class="liInf">UDEMY</li></span>
            <li>IBM Data Science Professional Certificate - <span class="liInf">IBM</li></span>
            <li>Python Fundamentals 1, Certified Instructors - <span class="liInf">Cisco</li></span>
        </ul>
    </section>

    <hr class="hrBottom">

    <section class="extra">
        <h2>What's Next for Me?</h2>
        <p>As I continue to grow as a developer, I am excited to explore new opportunities that challenge me to innovate and think creatively. My future projects include:</p>
        <ul class="futureProjects">
            <li>Integrating a chatbot into my ecommerce website.</li>
    <li>Preparing to join an innovative company as a software engineer.</li>
        </ul>
    </section>

    <%- include('./partials/footer') %>

</body>
</html>
