<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/generals.css">
    <link rel="stylesheet" href="/styles/works.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="https://kit.fontawesome.com/fa36d49c1a.js" crossorigin="anonymous"></script>

    <title>Works - Alejandro Garcia</title>
</head>
<body>
    <%- include('./partials/header') %>

    <h2 class="h2Works">Works</h2>
    <section class="works">

        <a href="">
        <article>    
            <div class="work">
            <div class="divImg">
                <img src="/img/Techynet.png" alt="">
            </div>      
            <div class="info"><p><span>Techynet.</span> An ecommerce platform featuring full CRUD operations. Integrations with Google Maps, authentication and cookies. User-friendly experience with a responsive design.
            </p>
            </div>
        </div>

            <h3>Tech Stack:</h3>
            <p class="pStack">HTML | EJS | CSS | JavaScript | Node.js | Express | MySQL | MVC architecture | Scrum | Git | Github |</p>
           
        </article>
        </a>


        <a href="">
            <article>    
                <div class="work">
                    <div class="info"><p><span>Tecmilenio's Manager.</span> A system for managing student enrollments, featuring validations and dynamic scheduling. Ensures efficient student tracking and management.
                    </p>
                    </div>
                <div class="divImg">
                    <img src="/img/tecmilenio.png" alt="">
                </div>      
                
            </div>
    
                <h3>Tech Stack:</h3>
                <p class="pStack">HTML | CSS | JavaScript | Blade | PHP | Laravel | MySQL | MVC architecture | Scrum | Git | Github |</p>

            </article>
            </a>

        
        <a href="">
        <article>    
            <div class="work">
            <div class="divImg">
                <img src="/img/alejandro.png" alt="">
            </div>      
            <div class="info"><p><span>Alejandro Garcia.</span>A personal portfolio showcasing skills and projects with a clean, professional design. It offers interactive elements and smooth navigation.
            </p>
            </div>
        </div>

            <h3>Tech Stack:</h3>
          <p class="pStack">HTML | EJS | CSS | JavaScript | Node.js | Express | MySQL | MVC architecture |</p>
        </article>
        </a>


        <a href="">
        <article>    
            <div class="work">
                <div class="info"><span>Arin.</span><p>A UX design project for a mobile e-commerce app specializing in art.
                </p>
                </div>
            <div class="divImg">
                <img src="/img/arin.png" alt="">
            </div>      
            
        </div>

            <h3>Tech Stack:</h3>
            <p class="pStack">Figma | Photoshop | Scrum | Git | Github |</p>
        </article>
        </a>
    </section>

<hr>
    <h2 class="h2Collabs">Collabs</h2>
    <section class="works">

            <article>    
                <div class="work">
                <div class="divImg">
                    <img src="/img/Techynet.png" alt="">
                </div>      
                <div class="info"><p><span>Techynet.</span> An ecommerce platform featuring full CRUD operations. Integrations with Google Maps, authentication and cookies. Ensures a user-friendly experience with a responsive design.
                </p>
                </div>
            </div>
    
                <h3>Tech Stack:</h3>
                <p class="pStack">HTML | EJS | CSS | JavaScript | Node.js | Express | MySQL | MVC architecture | Scrum | Git | Github |</p>
               
            </article>
    
    
                <article>    
                    <div class="work">
                        <div class="info"><p><span>Tecmilenios Manager.</span> A system for managing student enrollments, featuring validations and dynamic scheduling. Ensures efficient student tracking and management. Fully responsive.
                        </p>
                        </div>
                    <div class="divImg">
                        <img src="/img/tecmilenio.png" alt="">
                    </div>      
                    
                </div>
        
                    <h3>Tech Stack:</h3>
                    <p class="pStack">HTML | CSS | JavaScript | Blade | PHP | Laravel | MySQL | MVC architecture | Scrum | Git | Github |</p>
    
                </article>
    
            
            <article>    
                <div class="work">
                <div class="divImg">
                    <img src="/img/alejandro.png" alt="">
                </div>      
                <div class="info"><p><span>Alejandro Garcia.</span>A personal portfolio showcasing skills and projects with a clean, professional design. It offers interactive elements and smooth navigation.
                </p>
                </div>
            </div>
    
                <h3>Tech Stack:</h3>
              <p class="pStack">HTML | EJS | CSS | JavaScript | Node.js | Express | MySQL | MVC architecture |</p>
            </article>
    
    
            <article>    
                <div class="work">
                    <div class="info"><span>Arin.</span><p>A UX design project for a mobile e-commerce app specializing in art.
                    </p>
                    </div>
                <div class="divImg">
                    <img src="/img/arin.png" alt="">
                </div>      
                
            </div>
    
                <h3>Tech Stack:</h3>
                <p class="pStack">Figma | Photoshop | Scrum | Git | Github |</p>
            </article>
    </section>


    
    <%- include('./partials/footer') %>

</body>
</html>