/* GENERALS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    background-color: rgb(30, 30, 30);
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

body {
    width: 650px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    color: rgba(220, 220, 220, 0.95);
    transition: background-color 0.3s, color 0.3s; /* Transición para cambio de tema */
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
/* GENERALS ENDS */


/* HEADER */
header ul {
    height: 60px;
    width: 120%;
    margin: 10px -10% 0 -10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .liName {
    font-family: zingakon;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    transition: color 250ms ease-in-out;
}

header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(220, 220, 220, 0.95);
    transition: width 250ms ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

/* HEADER ENDS */

.contactSection {
    width: 100%;
    margin: 20px auto;
    color: rgba(220, 220, 220, 0.95);
}

.contactSection h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.contactIntro {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.contactIntro .spanSup{
    color:rgb(135, 206, 235);
}


.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.contactForm, .contactDetails {
    width: 100%;
    background-color: rgba(60, 60, 60, 0.95);
    border-radius: 10px;
}

.contactForm h2, .contactDetails h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

.contactDetails .spanInf{
    color: rgb(187, 13, 187);
}

.formGroup {
    width: 80%;
    margin: auto;
}

.formGroup label {
    display: block;
    margin:20px 0 5px 0;
    font-weight: bold;
}

.formGroup input, .formGroup textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(220, 220, 220, 0.3);
    background-color: rgb(30, 30, 30);
    color: rgba(220, 220, 220, 0.95);
    font-size: 16px;
}

.submitButton {
    display: block;
    width: 30%;
    margin: 30px auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 13, 187);
    color: rgba(220, 220, 220, 0.95);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 250ms;
}

.submitButton:hover {
    background-color: rgb(139, 0, 139);
}

.contactDetails ul {
    width: 80%;
    margin: 0 auto 50px auto;
    list-style: none;
}

.contactDetails li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contactDetails i {
    margin-right: 10px;
    color: rgb(187, 13, 187);
}

.contactDetails{
    margin-top: 50px;
}

h2{
    margin-top: 30px;
}


/* FOOTER */
footer ul{
    width: 40%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer i{
    font-size: 19px;
    padding: 7px;
    border-radius: 3.5px;
    transition: all 250ms;
}

footer i:hover{
    background-color: rgb(60, 60, 60);
}

.copyrigthItem{
    width: 40%;
    margin: 20px auto 40px auto;
    text-align: center;
}

.copyrigthItem p{
    font-size: 14px;
    color: rgba(220, 220, 220, 0.6);
}
/* FOOTER ENDS */

/* MODAL */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Queda fijo en la pantalla */
    z-index: 1; /* Se coloca delante de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: rgba(220, 220, 220, 0.95);
    padding: 20px;
    width: 50%; /* Ajusta el tamaño al 100% */
    max-width: 600px; /* Ancho máximo */
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
}

#closeModalButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(187, 13, 187);
    color: rgba(220, 220, 220, 0.95);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#closeModalButton:hover {
    background-color: rgb(139, 0, 139);
}


/* LIGHT MODE */
html.light-mode {
    background-color: rgb(240, 240, 240);
    color: rgb(60, 60, 60);
}

html.light-mode header ul li a::after{
    background-color: rgb(30, 30, 30);;
}

html.light-mode a, 
html.light-mode h1, 
html.light-mode h2 {
    color: rgb(30, 30, 30);
}

html.light-mode p,
html.light-mode li,
html.light-mode td {
    color: rgb(60, 60, 60); /* Color de los párrafos, li y td en modo claro */
}

html.light-mode .contactSection {
    color: rgb(60, 60, 60);
}

html.light-mode .contactSection h1,
html.light-mode .contactSection h2 {
    color: rgb(30, 30, 30);
}

html.light-mode .contactIntro .spanSup {
    color: rgb(9, 169, 233);
}

html.light-mode .contactForm, 
html.light-mode .contactDetails {
    background-color: rgb(220, 220, 220);
    color: rgb(30, 30, 30);
    border-radius: 10px;
}

html.light-mode .contactDetails .spanInf {
    color: rgb(187, 13, 187);
}

html.light-mode .formGroup input, 
html.light-mode .formGroup textarea {
    background-color: rgb(240, 240, 240);
    color: rgb(30, 30, 30);
    border: 1px solid rgb(220, 220, 220);
}

html.light-mode .submitButton {
    background-color: rgb(187, 13, 187);
    color: rgb(240, 240, 240);
}

html.light-mode .submitButton:hover {
    background-color: rgb(139, 0, 139);
}

html.light-mode .contactDetails i {
    color: rgb(187, 13, 187);
}

html.light-mode footer i:hover {
    background-color: rgb(220, 220, 220);
}

html.light-mode .modalContent {
    background-color: rgb(220, 220, 220);
    color: rgb(30, 30, 30);
}

html.light-mode #closeModalButton {
    background-color: rgb(187, 13, 187);
    color: rgb(240, 240, 240);
}

html.light-mode #closeModalButton:hover {
    background-color: rgb(139, 0, 139);
}

/* LIGHT MODE ENDS */