footer ul{
    width: 40%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer i{
    font-size: 19px;
    padding: 7px;
    border-radius: 3.5px;
    transition: all 250ms;
}

footer i:hover{
    background-color: rgb(60, 60, 60);
}

.copyrigthItem{
    width: 40%;
    margin: 20px auto 40px auto;
    text-align: center;
}

.copyrigthItem p{
    font-size: 14px;
    color: rgba(220, 220, 220, 0.6);
}
