/* GENERALS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    background-color: rgb(30, 30, 30);
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

body {
    width: 650px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    color: rgba(220, 220, 220, 0.95);
    transition: background-color 0.3s, color 0.3s; /* Transición para cambio de tema */
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
/* GENERALS ENDS */

/* HEADER */
header ul {
    height: 60px;
    width: 120%;
    margin: 10px -10% 0 -10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .liName {
    font-family: zingakon;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    transition: color 250ms ease-in-out;
}

header ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(220, 220, 220, 0.95);
    transition: width 250ms ease-in-out;
}

header ul li a:hover::after {
    width: 100%;
}

/* HEADER ENDS */

/* CONTENT */
.topItem {
    width: 120%;
    height: 270px;
    margin: 30px -10% 0 -10%;
}

.topItem video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px 1px rgb(60, 60, 60);
}

.sectionTopItem {
    position: relative;
}

figure {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    left: -70px;
    z-index: 101;
}

figure img {
    width: 100%;
    border-radius: 70px;
}

.lowerItem {
    width: 70%;
    height: 150px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lowerItem h1 {
    width: 60%;
    font-family: zingakon;
    color: rgb(240, 240, 240);
    font-size: 36px;
    /* color:rgb(135, 206, 235);  */
    /* color: rgb(98, 201, 100);
    color: rgb(255, 223, 0); */
}

.lowerItem ul {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
}

.pPresentation {
    width: 65%;
    margin: 50px auto 0 auto;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    /* background-color: rgb(60, 60, 60); */
    background-color: rgb(135, 206, 235);
    color: rgb(30, 30, 30);
    font-weight: 600;
}

section {
    width: 80%;
    margin: auto;
}

h2 {
    color: rgb(240, 240, 240);
    margin: 50px 0 20px 0;
    font-size: 26px;
    text-decoration: underline;
}

section .spanAbout {
    color: rgb(135, 206, 235);
}

.portafolioItem {
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(187, 13, 187);
    margin: 30px auto 0 auto;
    transition: all 250ms;
}

.portafolioItem:hover {
    background-color: rgb(139, 0, 139);
}

table .tdYear {
    color: rgb(240, 240, 240);
    font-weight: bold;
    display: flex;
}

table .tdYear.last {
    text-align: start;
}

.spanBio {
    color: rgb(187, 13, 187);
}

.fa-heart {
    color: rgb(187, 13, 187);
    font-size: 26px;
}
/* CONTENT ENDS */


/* FOOTER */
footer ul {
    width: 40%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

footer i {
    font-size: 19px;
    padding: 7px;
    border-radius: 3.5px;
    transition: all 250ms;
}

footer i:hover {
    background-color: rgb(60, 60, 60);
}

.copyrigthItem {
    width: 40%;
    margin: 20px auto 40px auto;
    text-align: center;
}

.copyrigthItem p {
    font-size: 14px;
    color: rgba(220, 220, 220, 0.6);
}
/* FOOTER ENDS */


/* LIGHT MODE */
html.light-mode {
    background-color:rgb(240, 240, 240);
    color: rgb(60, 60, 60);
}

html.light-mode a, html.light-mode h1 {
    color: rgb(30, 30, 30);
}

html.light-mode header ul li a::after{
    background-color: rgb(30, 30, 30);;
}

html.light-mode p,
html.light-mode li,
html.light-mode td {
    color: rgb(60, 60, 60); /* Color de los párrafos, li y td en modo claro */
}

html.light-mode .lowerItem h1,
html.light-mode .tdYear,
html.light-mode .fa-heart {
    color: rgb(30, 30, 30);
}

html.light-mode .portafolioItem p{
    color:rgba(240, 240, 240);
}

html.light-mode .pPresentation {
    background-color: rgb(135, 206, 235);
    color: rgb(30, 30, 30);
}

html.light-mode h2 {
    color: rgb(30, 30, 30);
}

html.light-mode .fa-heart {
    color: rgb(187, 13, 187);
}

html.light-mode .spanAbout {
    color: rgb(9, 169, 233);
}

html.light-mode footer i:hover {
    background-color: rgb(220, 220, 220);
}

