/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* GENERALS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(28, 31, 38); /* Fondo principal oscuro */
    color: rgb(226, 230, 239); /* Texto principal */
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(226, 230, 239);
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 55px; /* Tamaño absoluto */
}

h2 {
    font-size: 22px; /* Tamaño absoluto */
}

h3, h4, h5 {
    font-size: 18px; /* Tamaño absoluto */
}

/* MAIN SECTION */
.mainSection {
    max-width: 100%;
    margin: auto;
    height: 100vh;
}

/* HEADER */
header {
    width: 30%;
    height: 100vh;
    top: 0;
    left: 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

header nav {
    max-height: 90%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header h1 {
    font-size: 55px;
    opacity: 1;
}

header h2 {
    font-size: 22px;
    margin-top: 10px;
    opacity: 0.85;
}

header p {
    font-size: 18px;
    margin-top: 15px;
    opacity: 0.75;
}

header .ulMedia {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.ulMedia i {
    font-size: 23px;
    color: rgb(255, 255, 255);
    opacity: 1;
}

header .ulProjects {
    margin-top: 30px;
}

.ulProjects li {
    padding: 5px 0;
}

.ulProjects li a {
    transition: color 0.3s;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.ulProjects li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(50, 205, 50);
    visibility: hidden;
    transition: all 150ms ease-in-out;
}

.ulProjects li a.active::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}

.ulProjects li a:hover, .ulProjects li a.active {
    color: rgb(50, 205, 50);
    opacity: 1;
}

/* RIGHT ARTICLE */
.contentArticle {
    width: 45%;
    margin: 0 0 0 47.5%;
}

.contentArticle .h1AboutMe {
    margin-top: 10%;
}

.contentAbout {
    position: relative;
    overflow: hidden;
}

.cara {
    width: 100%;
    position: absolute;
    z-index: -100;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.cara img {
    width: 80%;
    position: relative;
}

.contentArticle p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* Borde negro de 0.5px */
}

.pDown, .pDown2 {
    margin-top: 40px;
    width: 70%;
}

.pDown2 {
    width: 50%;
}

/* sectionExperience */
.h1SectionExperience {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.sectionExperience {
    margin-top: 50px;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    transition: all 250ms;
    opacity: 1;
    background-color: rgb(40, 44, 52); /* Fondo de las secciones */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde */
}

.sectionExperience:hover {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
    background-color: rgba(16, 24, 47, 0.7);
}

.sectionExperience.below {
    margin-top: 20px;
}

.sectionExperience .divDate {
    width: 25%;
}

.sectionExperience .divExperience {
    width: 75%;
    opacity: 1;
    transition: all 150ms;
}

.sectionExperience h2 {
    margin: -3px 0 10px 0;
    font-size: 22px;
}

.sectionExperience h3 {
    font-size: 20px;
    margin: 5px 0 10px 0;
}

.sectionExperience p {
    font-size: 18px;
}

.sectionExperience .divTech {
    margin-top: 15px;
}

.sectionExperience ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sectionExperience li {
    padding: 8px 10px;
    margin: 5px 5px 0 0;
    border: 1px rgba(255, 255, 255, 0.2) solid;
    border-radius: 10px;
}

/* CONTAINER PROJECTS */
.h1SectionProjects {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.containerProjects {
    margin-top: 30px;
}

.containerProjects h1 {
    margin: 0;
    font-size: 50px;
}

.articleWebsite {
    margin-bottom: 50px;
}

.articleWebsite h2 {
    font-size: 25px;
}

.articleWebsite h3 {
    margin-top: 0;
}

.articleWebsite .contentWork {
    width: 100%;
    position: relative;
}

.articleWebsite p{
    font-size: 18px;
}
.articleWebsite img {
    width: 100%;
}

.contentMouseOver {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10%;
    
}

.articleWebsite:hover .contentMouseOver {
    display: block;
}

.contentMouseOver ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.contentMouseOver li {
    /* width: 110px;
    height: 60px; */
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 2px rgb(226, 230, 239) solid;
    
}

/* sectionPresent */
.sectionPresent {
    margin-top: 40px;
}

.sectionPresent h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline;}

.sectionPresent p {
    margin-top: 10px;
}

.sectionPresent h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}

/* bottomSection */
.bottomSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

.bottomSection div {
    width: 40%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 20px 1px rgba(226, 230, 239, 0.5);
    border-radius: 10px;
}

h4, h5 {
    font-size: 22px;
    text-align: center;
}

.sectionPresent ul {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(50, 205, 50); /* Color de acento verde */
}

.sectionPresent .ulFrameworks {
    height: 85%;
    align-items: center;
}

.sectionPresent li {
    margin: 5px 10px;
    font-size: 20px;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 5px 8px;
}

.ulFrameworks li {
    height: 35px;
}

.ulPlus li {
    margin-top: 10px;
}

.sectionPresent .lastUl {
    padding-bottom: 25px;
}

/* logo */
.logo {
    width: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo img {
    width: 100%;
    border-radius: 40px;
}

/* finalText */
.finalText {
    right: 0;
    padding: 50px 0 30px 0;
    display: flex;
}

.finalText p {
    font-size: 18px;
}
